@use "../globals" as *;
@use "sass:color";

.bar {
  $container-margin: 6px;

  $button-height: 30px;
  $button-border-radius: 9px;
  $button-lr-padding-offset: calc(6px + ($button-height - 24px) / 2); // 6px (padding-left - padding-top) and 24px (min-height) is taken from gtk.css 
  $button-padding: 0px calc(0px + $button-lr-padding-offset);
  $cover-border-radius: 6px;

  background-color: $bg;
  
  .bar-container {
    margin: $container-margin;
  }

  .panel-button {
    min-height: $button-height;
    padding: $button-padding;
    border-radius: $button-border-radius;
    color: $fg
  }

  .workspaces {
    box {
      border-radius: 6px;
      transition: .1s;

      background-color: color.scale($fg, $alpha: -80%);
      min-height: 12px;
      min-width: 12px;

      margin-right: 3px;
      &:last-child {
        margin-right: 0;
      }

      &.active, &.active.occupied {
        background-color: $accent;
        min-width: 16px;
        border-radius: 5px;
      }

      &.occupied {
        background-color: color.scale($fg, $alpha: -50%);
      }

    }
  }

  .player {
    padding: 0px;

    .player-background, .cover {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .player-background {
      padding-left: 6px;
      padding-right: $button-lr-padding-offset;
      // mimic panel-button's edge
      border-radius: 0 $button-border-radius $button-border-radius 0;
    }

    .cover {
      min-width: 30px; //todo: auto
      min-height: 30px;

      // mimic panel-button's edge
      border-radius: $cover-border-radius 0 0 $cover-border-radius;
    }
  }
}

